.bouton {
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.bouton:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

#output {
    color: white;
    text-align: center;
    margin-top: 10px;
    font-family: math;
    font-size: 22px;
}

#output2 {
    color: white;
    text-align: center;
    margin-top: 10px;
    font-family: math;
    font-size: 18px;
}
