.bouton {
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.bouton:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.clipboard {
    border: none;
    outline: none;
    height: 40px;
    position: absolute;
    width: 50%;
    top: 50%;
    right: 25%;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.clipboard:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

#output {
    color: white;
    text-align: center;
    margin-top: 10px;
    font-family: math;
    font-size: 26px;
}